
@{
    ViewBag.Title = "Cadastro Veículos";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Formulário de Cadastro de Veículos</h4>
<br />

<div class="row">
    <div class="col-md-4">

        <label>Modelo:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui" />
        <br />

        <label>Marca:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui" />
        <br />

        <label>Ano:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui" />
        <br />

        <label>Placa:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui" />
        <br />

        <label>Cor:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui" />
        <br />

        <label>Km Inicial:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui" />
        <br />

        <label>Km Final:</label>
        <input type="text" class="form-control"
               placeholder="Digite aqui" />
        <br />

    </div>
    <div class="col-md-4">

        <label>Selecione o Motorista:</label>
        <select class="form-control">
            <option value="">Escolha uma Opção</option>
        </select>
        <br />

        <label>Selecione o Proprietário:</label>
        <select class="form-control">
            <option value="">Escolha uma Opção</option>
        </select>
        <br />

        <label>Envie a Foto:</label>
        <input type="file" class="form-control" />
        <br />

    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <button class="btn btn-success">
            Cadastrar Veículo
        </button>

    </div>
</div>

