
@{
    ViewBag.Title = "Consulta de Veículos";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Consulta de Veículos</h4>
<br />

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Ano</th>
                    <th>Cor</th>
                    <th>Km Inicial</th>
                    <th>Km Final</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        Quantidade de registros:
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>

