
@{
    ViewBag.Pagina = "Consulta de Proprietarios";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts{
    <script>

        //criando o programa angular..
        var appProprietario = angular.module('appProprietario', []);
        //criando o controller..
        appProprietario.controller('consultaProprietario',
            function ($scope, $http) {

                //criando uma função para executar a consulta no controller..
                $scope.consultar = function () {

                    //executando o método do controller..
                    $http.get("/Proprietario/ConsultarProprietarios")
                        .then(function (obj) {
                            //armazenando em variavel..
                            $scope.proprietarios = obj.data;
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                };

                //criando uma função para buscar 1 Proprietario pelo id..
                $scope.obter = function (id) {

                    //executando o método do controller..
                    $http.get("/Proprietario/ObterProprietario?idProprietario=" + id)
                        .then(function (obj) { //sucesso
                            $scope.proprietario = obj.data;
                        })
                        .catch(function (e) { //erro
                            $scope.mensagem = e.data;
                        });
                };

                //criando uma função para excluir 1 Proprietario pelo id..
                $scope.excluir = function () {

                    //executando o método do controller..
                    $http.get("/Proprietario/ExcluirProprietario?idProprietario="
                        + $scope.proprietario.IdProprietario)
                        .then(function (obj) {
                            //exibindo mensagem..
                            $scope.mensagem = obj.data;

                            //executando a consulta novamente..
                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                };

                //criando uma função para atualizar o Proprietario..
                $scope.atualizar = function () {

                    $http.post("/Proprietario/AtualizarProprietario", $scope.proprietario)
                        .then(function (obj) {
                            $scope.mensagem = obj.data;
                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                };

            });

    </script>
}



<div class="row">
    <div class="col-md-6">
        <h4>Consulta de Empresa</h4>
    </div>
    <div class="col-md-6 text-right">
        <a href="/Proprietario/Relatorio" class="btn btn-dark">
            Baixar Relatório
        </a>
    </div>
</div>
<br />

<div ng-app="appProprietario" ng-controller="consultaProprietario">

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" ng-show="mensagem">
                        <strong>{{mensagem}}</strong>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Pesquisar Empresas</label>
                    <input type="text" class="form-control"
                           ng-model="Pesquisa"
                           placeholder="Digite aqui" />
                </div>
                <div class="col-md-4">
                    <label>Ordenar por:</label>
                    <select class="form-control" ng-model="Ordenacao">
                        <option value="">Escolha uma Opção</option>
                        <option value="IdProprietario">Código</option>
                        <option value="Nome">Nome da Empresa</option>
                        <option value="Cnpj">CNPJ</option>
                    </select>
                </div>
            </div>

            <br />

            <table class="table table-bordered table-striped table-hover"
                   ng-init="consultar()">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome da Empresa</th>
                        <th>CNPJ</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="m in proprietarios | filter : Pesquisa | orderBy : Ordenacao">
                        <td>{{m.IdProprietario}}</td>
                        <td>{{m.Nome}}</td>
                        <td>{{m.Cnpj}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm"
                                    data-target="#janelaedicao"
                                    data-toggle="modal"
                                    ng-click="obter(m.IdProprietario)">
                                Atualizar
                            </button>

                            <button class="btn btn-danger btn-sm"
                                    data-target="#janelaexclusao"
                                    data-toggle="modal"
                                    ng-click="obter(m.IdProprietario)">
                                Excluir
                            </button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            Quantidade de registros:
                            {{(proprietarios | filter : Pesquisa).length}}
                        </td>
                    </tr>
                </tfoot>
            </table>

            <!-- JANELA DE EDIÇÃO -->
            <div id="janelaedicao" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h4 class="text-white">Atualizar Empresa</h4>
                        </div>
                        <div class="modal-body">

                            <label>Código da Empresa:</label>
                            <input type="text" class="form-control"
                                   readonly="readonly"
                                   ng-model="proprietario.IdProprietario" />
                            <br />

                            <label>Nome da Empresa:</label>
                            <input type="text" class="form-control"
                                   ng-model="proprietario.Nome" />
                            <br />

                            <label>CNPJ:</label>
                            <input type="text" class="form-control"
                                   ng-model="proprietario.Cnpj" />
                            <br />

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary"
                                    ng-click="atualizar()"
                                    data-dismiss="modal">
                                Atualizar Dados
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- JANELA DE EXCLUSÃO -->
            <div id="janelaexclusao" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h4 class="text-white">Excluir Empresa</h4>
                        </div>
                        <div class="modal-body">

                            <p>
                                Deseja realmente excluir esta Empresa?
                            </p>

                            Código da Empresa: <strong>{{proprietario.IdProprietario}}</strong>
                            <br />

                            Nome da Empresa: <strong>{{proprietario.Nome}}</strong>
                            <br />

                            CNPJ: <strong>{{proprietario.Cnpj}}</strong>
                            <br />

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                            <button class="btn btn-danger"
                                    ng-click="excluir()"
                                    data-dismiss="modal">
                                Confirmar Exclusão
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>