

@{
    ViewBag.Title = "Contato";
    Layout = "~/Views/Shared/Layout.cshtml";
}






<center> <h3><font color=#ff0000><b><blink>Mande um e-mail</b></blink></font><br /></h3></center>
<hr />

<table>
    <tr>
        <td nowrap="nowrap">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <td />
         
        <td>
            <h4></center><font color=#000000><blink>&emsp;&emsp;&emsp;&emsp;Contato</blink></font><br /></h4>
            <font color=#000000><b><blink>E-mail: vanderlei.cuiaba@gmail.com</b></blink></font><br />
            <font color=#000000><b><blink>Telefone: 21 9 7923-6467 / 21 2692-5357 </b></blink></font><br />
            <font color=#000000><b><blink>Endereço: Rua Comendador Rodrigues Alves</b></blink></font><br />
            <font color=#000000><b><blink>Número: 1588</b></blink></font><br />
            <font color=#000000><b><blink>Bairro: Centro</b></blink></font><br />
            <font color=#000000><b><blink>Cidade:Nilópolis</b></blink></font><br />
            <font color=#000000><b><blink>Estado: Rio de Janeiro</b></blink></font><br />
            <font color=#000000><b><blink>País:Brasil</b></blink></font><br />

        </td>

        <td nowrap="nowrap">
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <td />
        
        <td>
            <form method="post" action="www.............">
                <input type="hidden" name="redirect" value="www...........">
                <input name="recipient" value="vanderlei.cuiaba@gmail.com." type="hidden"><br />

                <input name="required" value="recipient,email,realname,subject,message" type="hidden">


                <input type="hidden" name="sort" value="order:recipient,email,realname,subject,message">
                <br />

                <input type="hidden" name="subject" value="Título do Formulário">
                <h4>Deixe uma mensagem</h4>
                Nome: <br /><input name="realname" size=30><br />
                Email:<br /> <input name="email" size=30> <br>
                Telefone:<br /><input name="subject" size=30> <br>
                Mensagem :<br> <textarea name=message rows=8 cols=50> </textarea> <br>
                <input type="submit" value="Envie sua mensagem" name="submit"><br />

                <input type="reset" value="Limpar" name="reset">

            </form>

        </td>


    </tr>

    <tr>
        
    </tr>

    


</table>

<table>
    <td>

        


    </td>

    <td nowrap="nowrap">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
    <td />



</table>












