
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>
    <center><font color=#ff0000>Sobre</font></center>


</h2>
<hr />

<ul><center>
    <h5>
        <font color=#000000>
            <blink>
                A VJC desenvolve sistemas, desenvolve sistemas web, integra plataformas de  software e mantém um centro<br />
                de suporte técnico para oferecer as melhores soluções de negócios para seus clientes.<br /><br />
            </blink>
        </font>
    </h5>
</center>

    <font color=#000000>
        <blink>
            O que nos faz diferente é a nossa capacidade de relacionamento próximo com nossos clientes, <br />
            tratando cada um de forma diferenciada e respeitando
            suas características e necessidades individuais.<br />
            Desenvolvemos soluções aplicáveis e inovadoras, otimizando o tempo das pessoas, gerando riqueza para as empresas e eficiência operacional dos processos.
            
        </blink>
    </font>


</ul>

 

 
