
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<link href="~/css/centalizar-corpo.css" rel="stylesheet" />


<h2>
    <center><font color=#ff0000>Gerenciamento de frotas de veículos</font></center>


</h2>



<div>
    <center> <font color=#000000>Gestão Operacional de Frota de Veículos.</font></center>
    
    <br />

    <center>&emsp;<img src="~/Foto/CARRO.jpg" width=900 height=420></center>




</div>
<br />

