
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/css/Test.css" rel="stylesheet" />

    <h2>
        GERIR A SUA FROTA NUNCA FOI TÃO SIMPLES .
    </h2>
    <hr />

    Gestão operacional de frota de Veículos da Companhia VJC Technology.
    <br />
    <br />

    Processo para otimizar frota e reduzir custos.
    <br />
    A VJC Technology é atualmente uma das grandes Empresas de Tecnologia no país.


    


