
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/css/Test.css" rel="stylesheet" />

<h2>
    <center><font color=#ffff00>Gerenciamento de frotas de veículos</font></center>


</h2>
<hr />
<div>
    <center> <font color=#ffff00>
    
        Gestão Operacional de Frota de Veículos.
</font></center>
    
    <br />

    <center>&emsp;<img src="~/Foto/CARRO.jpg" width=900 height=420></center>




</div>
<br />

