
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/css/Test.css" rel="stylesheet" />

<h2>
    <center><font color=##fd2210><blink>GERIR A SUA FROTA NUNCA FOI TÃO SIMPLES !</blink></font></center>


</h2>
<hr />

<center> <font color=#FFFF00><b><blink>Gestão Operacional de Frota de Veículos da Companhia VJC Technology.</b></blink></font></center>
<center> <font color=#FFFF00><b><blink>Processo para otimizar frota e reduzir custos.</b></blink></font></center>
<center> <font color=#FFFF00><b><blink>A VJC Technology é atualmente uma das grandes Empresas de Tecnologia no país.</b></blink></font></center>
<br />

<center><img src="https://www.supercarros.cc/uploads/default/files/unidade/3/foz_img_1.jpg" alt="Foto" width=500 height=300></center>










