
@{
    ViewBag.Title = "Servico";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<link href="~/css/centalizar-corpo.css" rel="stylesheet" />

<h2>
    <center><font color=#ff0000>Serviços</font></center>


</h2>


<div class="align-self-sm-center">

    <table>
        <tr>
            <h5>Política de Qualidade </h5>
            <td>
                <font color=#000000>
                    <blink>
                        <ul>
                            <li>
                                É a política da VJC Technology o compromisso de seus funcionários de fornecer valor
                                <br>
                                aos nossos clientes através do Serviço de Qualidade de Primeira Classe.
                            </li>
                        </ul>
                    </blink>
                </font>
                <h5>Nossos Objetivos</h5>
                <ul>
                    <li>
                        <font color=#000000><blink> Segurança na Informação de Veículos Automotores de nossos clientes , Proprietários e Motoristas.</blink></font>
                    </li>

                    <li>
                        <font color=#000000><blink> Serviço de qualidade através de funcionários competentes e  operadores </blink></font>
                    </li>

                    <li>  <font color=#000000><blink> Medição e melhoria contínua de nossos sistemas de qualidade </blink></font></li>

                </ul>
                <h5>Mapeie as informações da frota</h5>

                <ul>
                <li>
                         <font color=#000000><blink>
                         É preciso fazer um mapeamento completo da sua frota e das operações que ela realiza, utilizando os dados atualizado como referência.</blink></font>
                </li>

                <li>
                    <font color=#000000><blink>Contabilize os veículos, os gastos com combustível, erros humanos, gastos com manutenção, capacidade dos veículos e disponibilidade.  </blink></font>
                </li>

                <li>  <font color=#000000><blink> Organize os KPIs a serem acompanhados e faça uma linha do tempo com o histórico destes indicadores para análise e planejamento da frota. </blink></font></li>

                </ul>

            </td>

        </tr>
    </table>


</div>


