
@{
    ViewBag.Title = "Cadastro de Motorista";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts{
    <script>

        //criando e dando um nome a um programa angular
        var appMotorista = angular.module('appMotorista', []);
        //criando um controller para realizar o cadastro do motorista..
        appMotorista.controller('cadastroMotorista',
            function ($scope, $http) {

                //declarar uma variável para resgatar o valor 
                //digitado no campo 'nome do motorista'

                $scope.model = {//Json
                    Nome: '' //vazio..
                };

                //criando uma função que será executada
                //quando o botão de cadastro for clicado..
                $scope.cadastrar = function () {

                    //imprimir mensagem..
                    $scope.mensagem = "Processando, aguarde...";

                    //requisição AJAX ao controller..
                    $http.post('/Motorista/CadastrarMotorista', $scope.model)
                        .then(function (obj) {

                            //imprimir mensagem de sucesso..
                            $scope.mensagem = obj.data;
                            //limpar o conteudo do campo..
                            $scope.model.Nome = "";
                            $scope.ErroNome = "";
                        })
                        .catch(function (e) {

                            if (e.status == 400) { //BadRequest
                                //armazenar o erro do campo nome..
                                $scope.ErroNome = e.data.Nome;
                                $scope.mensagem = "";
                            }
                            else {
                                //imprimir mensagem de erro..
                                $scope.mensagem = "Erro: " + e.data;
                            }

                        });
                };

            });

    </script>
 
    }


<h4>Formulário de Cadastro do Motorista</h4>
<br />

<div class="row" ng-app="appMotorista" ng-controller="cadastroMotorista">
        <div class="col-md-4">

            <label>Nome do Motorista:</label>
            <input type="text" class="form-control"
                   placeholder="Digite aqui"
                   ng-model="model.Nome" />
            <div>
                <strong class="text-danger">{{ErroNome}}</strong>
            </div>
            <br />

            <button class="btn btn-success"
                    ng-click="cadastrar()">
                Cadastrar Motorista
            </button>
            <br />
            <br />

            <strong>{{mensagem}}</strong>

        </div>
    
</div>
