
@{
    ViewBag.Pagina = "Consulta de Motoristas";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section Scripts{
    <script>

        //criando o programa angular..
        var appMotorista = angular.module('appMotorista', []);
        //criando o controller..
        appMotorista.controller('consultaMotorista',
            function ($scope, $http) {

                //criando uma função para executar a consulta no controller..
                $scope.consultar = function () {

                    //executando o método do controller..
                    $http.get("/Motorista/ConsultarMotoristas")
                        .then(function (obj) {
                            //armazenando em variavel..
                            $scope.motoristas = obj.data;
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                };

                //criando uma função para buscar 1 Motorista pelo id..
                $scope.obter = function (id) {

                    //executando o método do controller..
                    $http.get("/Motorista/ObterMotorista?idMotorista=" + id)
                        .then(function (obj) { //sucesso
                            $scope.motorista = obj.data;
                        })
                        .catch(function (e) { //erro
                            $scope.mensagem = e.data;
                        });
                };

                //criando uma função para excluir 1 Motorista pelo id..
                $scope.excluir = function () {

                    //executando o método do controller..
                    $http.get("/Motorista/ExcluirMotorista?idMotorista="
                        + $scope.motorista.IdMotorista)
                        .then(function (obj) {
                            //exibindo mensagem..
                            $scope.mensagem = obj.data;

                            //executando a consulta novamente..
                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                };

                //criando uma função para atualizar o Motorista..
                $scope.atualizar = function () {

                    $http.post("/Motorista/AtualizarMotorista", $scope.motorista)
                        .then(function (obj) {
                            $scope.mensagem = obj.data;
                            $scope.consultar();
                        })
                        .catch(function (e) {
                            $scope.mensagem = e.data;
                        });
                };

            });

    </script>
}

<!--validar cpf e cnpj-->
<script src="~/Scripts/cpf-cnpj.js"></script>
<script src="~/Scripts/telefone.js"></script>

<div class="row">
    <div class="col-md-6">
        <h4>Consulta de Motoristas</h4>
    </div>
    <div class="col-md-6 text-right">
        <a href="/Motorista/Relatorio" class="btn btn-dark">
            Baixar Relatório
        </a>
    </div>
</div>
<br />

<div ng-app="appMotorista" ng-controller="consultaMotorista">

    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" ng-show="mensagem">
                        <strong>{{mensagem}}</strong>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label>Pesquisar Motorista</label>
                    <input type="text" class="form-control"
                           ng-model="Pesquisa"
                           placeholder="Digite aqui" />
                </div>
                <div class="col-md-4">
                    <label>Ordenar por:</label>
                    <select class="form-control" ng-model="Ordenacao">
                        <option value="">Escolha uma Opção</option>
                        <option value="IdMotorista">Código</option>
                        <option value="Nome">Motorista</option>
                        <option value="Cpf">CPF</option>
                        <option value="Telefone">Telefone</option>
                    </select>
                </div>
            </div>

            <br />

            <table class="table table-bordered table-striped table-hover"
                   ng-init="consultar()">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Motorista</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="m in motoristas | filter : Pesquisa | orderBy : Ordenacao">
                        <td>{{m.IdMotorista}}</td>
                        <td>{{m.Nome}}</td>
                        <td>{{m.Cpf}}</td>
                        <td>{{m.Telefone}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm"
                                    data-target="#janelaedicao"
                                    data-toggle="modal"
                                    ng-click="obter(m.IdMotorista)">
                                Atualizar
                            </button>

                            <button class="btn btn-danger btn-sm"
                                    data-target="#janelaexclusao"
                                    data-toggle="modal"
                                    ng-click="obter(m.IdMotorista)">
                                Excluir
                            </button>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            Quantidade de registros:
                            {{(motoristas | filter : Pesquisa).length}}
                        </td>
                    </tr>
                </tfoot>
            </table>

            <!-- JANELA DE EDIÇÃO -->
            <div id="janelaedicao" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h4 class="text-white">Atualizar Motorista</h4>
                        </div>
                        <div class="modal-body">

                            <label>Código do Motorista:</label>
                            <input type="text" class="form-control"
                                   readonly="readonly"
                                   ng-model="motorista.IdMotorista" />
                            <br />

                            <label>Motorista:</label>
                            <input type="text" class="form-control"
                                   ng-model="motorista.Nome" />
                            <br />


                            <label>CPF:</label>
                            <input type="text" maxlength="14" class="form-control"
                                   onkeydown="javascript:return aplica_mascara_cpfcnpj(this,18,event)"
                                   onkeyup="javascript:return aplica_mascara_cpfcnpj(this,18,event)"
                                   ng-model="motorista.Cpf" />

                            <br />


                            <label>Telefone:</label><br />
                            <input class="form-control" onkeypress="return mask(event, this, '(##) ####-####')" maxlength="15" placeholder=" (DDD) 0000-0000"
                                   ng-model="motorista.Telefone">

                            <br />

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
                            <button class="btn btn-primary"
                                    ng-click="atualizar()"
                                    data-dismiss="modal">
                                Atualizar Dados
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- JANELA DE EXCLUSÃO -->
            <div id="janelaexclusao" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h4 class="text-white">Excluir Motorista</h4>
                        </div>
                        <div class="modal-body">

                            <p>
                                Deseja realmente excluir este Motorista?
                            </p>

                            Código do Motorista: <strong>{{motorista.IdMotorista}}</strong>
                            <br />

                            Motorista: <strong>{{motorista.Nome}}</strong>
                            <br />

                            CPF: <strong>{{motorista.Cpf}}</strong>
                            <br />

                            Telefone: <strong>{{motorista.Telefone}}</strong>
                            <br />

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                            <button class="btn btn-danger"
                                    ng-click="excluir()"
                                    data-dismiss="modal">
                                Confirmar Exclusão
                            </button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
